#intro {
  margin: 0 auto;
}
#intro hr {
  width: 50px;
}
.row .one-half {
  min-height: 140px;
}
.one-half h2 {
  margin-bottom: 10px;
}
#feature-discord-title a, #feature-discord-title a:visited {
  color: #5487F8;
}
#feature-cold-title a, #feature-cold-title a:visited {
  color: #A3A3A3;
}
#feature-awk-title a, #feature-awk-title a:visited {
  color: #D24646;
}
#feature-pinyon-title a, #feature-pinyon-title a:visited {
  color: #C679D7;
}
.center {
  padding-top: 10px;
  text-align: center;
}
