* {
  font-family: 'Source Sans Pro', sans-serif;
}
#intro {
  margin: 0 auto;
}
#intro hr {
  width: 50px;
}
.row .one-half {
  min-height: 140px;
}
.one-half h2 {
  margin-bottom: 10px;
}
#feature-arbiter-title a, #feature-arbiter-title a:visited {
  color: #c84848;
}
#feature-discord-title a, #feature-discord-title a:visited {
  color: #5487F8;
}
#feature-cold-type-practice-title a, #feature-cold-type-practice-title a:visited {
  color: #A3A3A3;
}
#feature-slc-title a, #feature-slc-title a:visited {
  color: #EB672E;
}
#feature-wth-title a, #feature-wth-title a:visited {
  color: #67CC3C;
}
#feature-pinyon-title a, #feature-pinyon-title a:visited {
  color: #C679D7;
}
#feature-userctl-title a, #feature-userctl-title a:visited {
  color: #1792D6;
}
#feature-arbiterdoom-title a, #feature-arbiterdoom-title a:visited {
  color: #D19429;
}
.center {
  padding-top: 10px;
  text-align: center;
}
