* {
  font-family: 'Lato', sans-serif;
}
#intro {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}
#intro hr {
  width: 50px;
}
.row .one-half {
  min-height: 140px;
}
.one-half h2 {
  margin-bottom: 10px;
}
#feature-discord-box a {
  color: #5487F8;
  background: none;
  background: -moz-linear-gradient(#269cff, #d64de5);
  background: -webkit-linear-gradient(#269cff, #d64de5);
  background: linear-gradient(to right, #269cff, #d64de5);
  background-clip: text !important;
  -moz-background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
#feature-cold-type-practice-box a {
  color: #A3A3A3;
  background: none;
  background: -moz-linear-gradient(#6B6B6B, #DCDCDC);
  background: -webkit-linear-gradient(#6B6B6B, #DCDCDC);
  background: linear-gradient(to right, #6B6B6B, #DCDCDC);
  background-clip: text !important;
  -moz-background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
#feature-slc-box a {
  color: #EB672E;
  background: none;
  background: -moz-linear-gradient(#FF841D, #D64C40);
  background: -webkit-linear-gradient(#FF841D, #D64C40);
  background: linear-gradient(to right, #FF841D, #D64C40);
  background-clip: text !important;
  -moz-background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
#feature-wth-box a {
  color: #67CC3C;
  background: none;
  background: -moz-linear-gradient(#00A877, #CEF000);
  background: -webkit-linear-gradient(#00A877, #CEF000);
  background: linear-gradient(#00A877, #CEF000);
  background-clip: text !important;
  -moz-background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
#feature-ijustwanttowritemd-box a {
  color: #C679D7;
  background: none;
  background: -moz-linear-gradient(#DC96B4, #B05CFA);
  background: -webkit-linear-gradient(#DC96B4, #B05CFA);
  background: linear-gradient(#DC96B4, #B05CFA);
  background-clip: text !important;
  -moz-background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
#feature-userctl-box a {
  color: #1792D6;
  background: none;
  background: -moz-linear-gradient(#67D0CD, #1556E0);
  background: -webkit-linear-gradient(#67D0CD, #1556E0);
  background: linear-gradient(#67D0CD, #1556E0);
  background-clip: text !important;
  -moz-background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
