.main-container {
  width: 100%;
  position: absolute;
  display: block;
}

.hero-background {
  z-index: -5;
	width: 100%;
	height: 484.5px;
	background-color: #8aa3bf;
	position: absolute;
}

.main-logo {
	margin-top: 136px;
	height: 71.4px;
	width: 76.5px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	background-image: url(../images/logo.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

.cloud-container {
	position: absolute;
	top:0;
	margin-top: 8.5px;
	height: 198.9px;
	width: 100%;
}

.cloud1 {
	height: 51px;
	width: 147.9px;
	margin-left: 5%;
	background-image: url(../images/cloud1.svg);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
}

.cloud2 {
	position: absolute;
	height: 34px;
	width: 96.9px;
	margin-left: 19%;
	margin-top:93.5px;
	background-image: url(../images/cloud2.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

.cloud3 {
	position: absolute;
	height: 29.75px;
	width: 81.6px;
	margin-top: 80.75px;
	margin-left: 28%;
	background-image: url(../images/cloud3.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

.cloud4 {
	position: absolute;
	height: 47.6px;
	width: 137.7px;
	margin-left: 65%;
	margin-top: 34px;
	background-image: url(../images/cloud4.svg);
	background-repeat: no-repeat;
	background-size: cover;
}
.moutnains {
	min-height: 270.3px;
	background-image: url(../images/mountains.svg);
	background-position: left bottom;
	background-size: cover;
	background-position: 85% 100%;
	background-repeat:repeat-x;
}

.mountain-container {
	width: 100%;
	position: absolute;
	margin: 0 auto;
	margin-top: 214.2px;
	z-index: 0;
}

.cabin-container {
	height: 310.25px;
	width: 384.2px;
	position: absolute;
	margin: 0 auto;
	margin-top: 174.25px;
	z-index: 10;
	right: 0;
}

.cabin {
	width: 100%;
	height: 100%;
	margin: 0;
	background-image: url(../images/cabin.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom left;
}

.ice {
	height: 17px;
	width: 100%;
	background-color: #b1cbe5;
	position: absolute;
	margin-top: 467.5px;
	bottom: 0;
	z-index: 1;
}

.ground-left {
	position: absolute;
	width: 85px;
	height: 42.5px;
	margin: 0 auto;
	left: 0;
	bottom: 0;
	z-index: 5;
	background-image: url(../images/leftGround.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

main {
	width: 100%;
	background-color: #efefef;
	margin: 0 auto;
	margin-bottom: 136px;
	margin-top: 482.8px;
	box-shadow: 0 6px 3px -1px #444444;
    -moz-box-shadow: 0 6px 3px -1px #444444;
    -webkit-box-shadow: 0 6px 3px -1px #444444;
}

.main-bio {
	margin-top: 29.75px;
	text-align: center;
}

h4 {
	color: #49565e;
}

p {
	margin-top: -8.5px;
	font-family: 'Oxygen', Helvetica, Segoe UI Light, sans-serif;
	font-weight: 300;
	color: #768a99;
	font-size: 15.3px;
}

.project {
	height: 306px;
	background-color: #8aa3bf;
	margin-bottom: 102px;
}

.date {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: inline-block;
	font-size: 15.3px;
	color: #b1cbe5;
	font-family: 'Oxygen', sans-serif;
	opacity: 1;
}

h5 {
	text-align: center;
	font-size: 25.5px;
	margin: 0 auto;
	left: 0;
	right: 0;
	line-height: 30.6px;
	color: #efefef;
	padding-top: 17px;
	padding-bottom: 0;
  padding-left: 6.8px;
  padding-right: 6.8px;
	opacity: 1;
}

.project-title {
	margin: 0 auto;
	width: 100%;
	height: 102px;
	opacity: 1;
}

.project-cover {
	width: 100%;
	height: 100%;
	background-color: rgba(73, 86, 94, .3);
	z-index: -5;
}

.project-button {
	z-index: 10;
	display: block;
	margin: 0 auto;
	margin-top: 153px;
	bottom: 0;
	width: 100%;
	height: 51px;
	background-color: #647a8e;
	display: none;
}
.project-button:hover {
	opacity: .8;
}

.project-button-label {
	color: #efefef;
	line-height: 51px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: inline-block;
	font-family: 'Oxygen', sans-serif;
	font-weight: 300;
	font-size: 18.7px;
	text-decoration: none;
}
.project-button-label:hover {
	color: #dbdbdb;
	cursor: pointer;
}

.project-image {
	margin-top: 20%;
	width: 100%;
	height: 70%;
	z-index: -10;
	display: block;
	background-image: url(../images/project1.svg);
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
}

#project1 {
	background-image: url(../images/project1.svg);
	background-position: center 60%;
	background-size: contain;
	background-repeat: no-repeat;
}

#project2 {
	background-image: url(../images/project2.svg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

footer {
	width: 100%;
	height: 136px;
	background-color: #49565e;
	position: absolute;
	top: 100%;
  	-webkit-transform: translateY(-100%);
  	-ms-transform: translateY(-100%);
  	transform: translateY(-100%);
	z-index: -100;
}

.footer-phrase {
	line-height: 136px;
	text-align: center;
	color: #efefef;
  z-index: inherit;
  margin-bottom: 0;
}

.footer-logo {
	width: 159px;
	height: 70px;
	position: absolute;
	background-image: url(../images/longLogo.svg);
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 7%;
	margin-top: 33.1925px;
  z-index: inherit;
}

@media (min-width: 1366px) {
	.moutnains {
		min-height: 360.4px;
	}
	.mountain-container {
		margin-top: 124.1px;
	}
}

@media (min-width: 550px) and (max-width:900px) {
	#project1, #project2 {
		width: 48%;
		margin-bottom: 21.25px;
	}
	#project3 {
		width: 100%;
		margin-left: 0;
	}
	.footer-phrase {
		font-size: 27.2px;
		text-align: left;
		margin-left: 30%;
	}
	.footer-logo {
		margin-top: 42.5px;
		width: 119px;
		height: 51px;
		margin-left: 5%;
	}
	.moutnains {
		background-position: 90% 100%;
	}
}
@media (max-width: 550px) {
	.hero-background {
		height: 323px;
	}
	.cloud-container {
		height: 132.6px;
	}
	.cloud1 {
		height: 34px;
		width: 98.6px;
		margin-left: 3%;
	}
	.cloud2 {
		height: 22.95px;
		width: 64.6px;
		margin-left: 12%;
		margin-top: 62.05px;
	}
	.cloud3 {
		height: 19.55px;
		width: 54.4px;
		margin-left: 21%;
		margin-top: 58.65px;
	}
	.cloud4 {
		height: 31.45px;
		width: 91.8px;
		margin-right: 12%;
	}
	.main-logo {
		margin-top: 90.95px;
		width: 51px;
		height: 47.6px;
	}
	.mountain-container {
		margin-top: 142.8px;
	}
	.moutnains {
		height: 180.2px;
	}
	.cabin-container {
		height: 206.55px;
		width: 255.85px;
		margin-top: 116.16px;
	}
	.ice {
		height: 11.05px;
		margin-top: 306px;
	}
	.ground-left {
		width: 56.1px;
		height: 28.05px
	}
	main {
		margin-top: 321.3px;
	}
	.project {
		margin-bottom: 21.25px;
	}
	.footer-logo {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		width: 102px;
		height: 51px;
		margin-top: 17px;
		margin-bottom: 0;
	}
	.footer-phrase {
		line-height: 0;
		margin-top: 34px;
	}
}
